[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stockfish = "==3.28.0"
pyautogui = "==0.9.54"
customtkinter = "==5.2.2"
screeninfo = "*"
zmq = "*"

[dev-packages]
ruff = "*"
mypy = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
