[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
stockfish = "*"
numpy = "*"
matplotlib = "*"
torch = "*"
keras = "*"
tensorflow = "*"
scikit-image = "*"
tqdm = "*"
pyautogui = "*"
customtkinter = "*"
screeninfo = "*"

[dev-packages]
ruff = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11.2"
